<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink's</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="body-drinks">

    <!--HEADER-->
    <header>
        <h1>Drink's</h1>
    </header>

    <!--PANEL DE NAVEGACIÓN-->
    <nav>
         <ul class="nav-list">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('aboutus') }}">About us</a></li>
            <li><a href="{{ url_for('drinks') }}">Drink's</a></li>
            <li><a href="{{ url_for('members') }}">Members</a></li>
        </ul>
    </nav>

    <!--MAIN-->
    <main class="main-drinks">
        <!--MAIN HEADER-->
        <div class="main-header-drinks">
            <h1> <span style="color: green;">O</span>ur <span style="color: green;">D</span>rinks</h1>
            <p>Our brand can offer much more than our main drink, it offers a wide variety of flavors for everyone</p>
        </div>

        <!--ARTICLE-->
        <article class="article-drinks-main">
            <div class="flex-cards">
                <!-- DIV PADRE CON TODAS LAS CARDS-->
                <div class="card">
                    <!-- CARD 1 -->
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="lata normal de power drink's">
                    <div class="descripcion">
                        <!-- DESCRIPCIÓN CARD 1-->
                        <h2>Original flavor</h2>
                        <p>The perfect combination to make you feel the best experience</p>
                    </div>
                </div>
                <div class="card-2">
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="Imagen lata de mango">
                    <div class="descripcion-2">
                        <h1>Mango flavor</h1>
                        <p>A combination of our flavor with a great touch of mango that will make you feel in paradise</p>
                    </div>
                </div>
                <div class="card-3">
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="imagen lata de coco">
                    <div class="descripcion-3">
                        <h1>Coconut flavor</h1>
                        <p>Our original flavor with a coconut touch that will made you feel in a paradise island</p>
                    </div>
                </div>
                <!-- FINAL DEL DIV PADRE-->
            </div>
        </article>
        <article>
            <div class="flex-cards-2">
                <div class="card-4">
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="imagen de lata de apple punch">
                    <div class="descripcion-4">
                        <h1>Apple punch</h1>
                        <p>From the deepest forest we bring our apple punch drink, a fruity experience</p>
                    </div>
                </div>
                <div class="card-5">
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="lata sabor citrico">
                    <div class="descripcion-5">
                        <h1>Citric paradise</h1>
                        <p>A powerfull combination of citric fruits that will make you feel electrifying</p>
                    </div>
                </div>
                <div class="card-6">
                    <img src="{{ url_for('static', filename='assets/Lata-modelo.png') }}" alt="lata sabor frutas del bosque">
                    <div class="descripcion-6">
                        <h1>Blueberry shot</h1>
                        <p>We bring that characteristic blueberry flavor with our incredible blueberry shot</p>
                    </div>
                </div>
                <div class="zoom"></div>
                <!-- FINAL DEL DIV PADRE 2-->
            </div>
        </article>
    </main>
    <!--FOOTER-->
    <footer class="footer-flex">
         <h1>By PowerDrinks.org</h1>
            <div class="contact">
                <!--Redes sociales y número-->
                <p class="p-1-footer">powerdrinks.com</p>
                <p class="p-2-footer">powerdrinkssupport.com</p>
                <p class="p-3-footer">+34 541 09 92 21</p>
            </div>
    </footer>
</body>
</html>
