<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body class="body-login">
    <!--HEADER-->
    <header>
        <h1>Login</h1>
    </header>
    
    <main class="main-login">
        <div class="login">
            <section>
                <h1>Login</h1>
                <form class="formulario-login" method="POST" action="/runsesion">
                    <div>
                        <label class="label-2" for="email">Put your email</label>
                        <input class="input-2" id="email" type="text" name="email" placeholder="example@gmail.com" required>
                    </div>
                    <div class="div-2-form">
                        <label class="label-3" for="password">Put your Password</label> 
                        <input class="input-3" type="password" id="password" name="password" placeholder="******" required>
                        <button>Submit</button>
                    </div>
                </form>
                <div>
                    <h3><a href="{{ url_for('register') }}">Register</a></h3>
                    <h3><a href="{{ url_for('forgot') }}">Forgot password</a></h3>
                </div>
            </section>
        </div>
    </main>
    <!--FOOTER-->
     <div class="footer-flex">
        <footer>
            <h1>By PowerDrinks.org</h1>
            <div class="contact">
                <!--Redes sociales y número-->
                <p class="p-1-footer">powerdrinks.com</p>
                <p class="p-2-footer">powerdrinkssupport.com</p>
                <p class="p-3-footer">+34 541 09 92 21</p>
            </div>
        </footer>
    </div>
</body>
</html>