<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Privileges</title>
</head>
<body class="body-privileges">
    
    <!--HEADER-->
    <header>
        <h1>Privileges</h1>
    </header>

    <!--MAIN-->
    <main class="main-privileges">
        <article class="article-privileges">
            <div class="header-article">
                <h1><span style="color: green;">W</span>elcome to the Privileges page</h1>
                <p>Here you cand find all the privileges that we offer to our premium members</p>
            </div>
            <div class="botones">
                <button class="Offers">Offers</button>
                <button class="New_Drinks">New Drinks</button>
                <button class="Merch">Merch</button>
            </div>
        </article>
    </main>
    <footer class="footer-flex">
        <h1>By PowerDrinks.org</h1>
            <div class="contact">
                <!--Redes sociales y número-->
                <p class="p-1-footer">powerdrinks.com</p>
                <p class="p-2-footer">powerdrinkssupport.com</p>
                <p class="p-3-footer">+34 541 09 92 21</p>
            </div>
    </footer>
</body>
</html>