body{
    margin: 0;
    width: 101vw;
}

/* ENCABEZADO */
header{
    text-align: center;
    text-shadow: 10px 10px 10px #000000;
    font-size: 25px;
    background: linear-gradient(to bottom, #055f05, rgb(1, 12, 1)); /* DEGRADADO */
    color: white;
    padding: 1%;
}

/* NAV-VAR */
nav{
    background: linear-gradient(to bottom, rgb(1, 12, 1), rgb(0, 0, 0));
}

ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

li{
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-inline-start: 150px;
    margin-right: 90px;
}

nav, a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: green;
}

/* MAIN */
main{
    background-color: black;
    border: 1px solid;
    border-color: black;
    color: white;
    width: 100vw;
    height: 100vw;
}

/* ENCABEZADO PRINCIPAL */

.main-header{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.main-p{
    text-align: center;
    font-size: 17px;
}

/* SECCIÓN 1 */

.section-1{
    margin-left: 150px;
    margin-top: 150px;
}

/* Encabezado sección 1 */
.header-sec1{
    font-size: 35px;
}

/* Paragráfo 1 */
.p-1{
    width: 700px; /* LARGO DEL PARAGRAFO */
    text-align: justify; /* JUSTIFICAR TEXTO DEL PARÁGRAFO */
    font-size: 20px;
}

/* Contenedor section y aside */

.section-aside{ 
    display: flex; /* display: flex; Convertimos el contenedor en un contenedor flexible y alíneamos los ítems */
    align-items: flex-start; /* Alínea todo arriba y no lo bloquea, por lo que si quiero bajar la imagen y no el texto puedo */
    gap: 400px; /* Espacio entre el section y el aside (30px) */
}

/* POWER DRINK'S Y SU CONTENIDO */
.marca{
    margin-top: 100px;
    font-size: 50px;
    color: green;
}

/* Power drink's parágrafo */
.p-2{
    width: 700px;
    text-align: justify;
    font-size: 20px;
}

/* ASIDE */ 
.aside-1{
    align-self: flex-end;
    margin-top: 15px;
}

.img-1{
    max-width: 300px;
    height: auto;
    margin-top: 60px;
    margin-left: 75px;
    transform: rotate(30deg);
}
